numpy<2
torch
torchvision
transformers==4.42.4
timm==0.9.16
omegaconf==2.3.0
opencv-python-headless
albumentations==1.4.24
fairscale
ftfy
iopath
pandas
termcolor
rich
matplotlib
webdataset
rapidfuzz
evaluate
tabulate
nltk
huggingface_hub
pillow
pyyaml
tqdm
paddleocr
